{#----------------------------------------------------------------------------+
| Copyright © Florent TOURNOIS - All Rights Reserved
|   All Rights Reserved.
|   Unauthorized copying of this file, via any medium is strictly prohibited
|   Dissemination of this information or reproduction of this material
|   is strictly forbidden unless prior written permission is obtained
|   from Florent TOURNOIS.
+--------------------------------------------------------------------------- #}
{%- if text is defined -%}
                                                    <tr>
                                                        <td>
                                                            <p class="small" style="color: #161616;font-family: Marianne, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;font-size: 12px !important;line-height: 20px;margin: 0;margin-bottom: 10px;">{{text}}</p>
                                                        </td>
                                                    </tr>
{%- endif -%}
